* {
    margin: 0;
    padding: 0;
}


/*Style*/
body{
    font: 16px/28px arial, sans-serif;
    background-color: grey;
}

.container{
    width: 980px;
    margin: auto;
    background-color: white;
   
    
   
}

.card{
    width: auto;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.cardform{
    width: auto;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    background-color: #f6cb01;
    border: 5px solid navy;
  
    

}

.cardtribun{
    margin: 10px 10px;
    padding: 30px;
   margin-bottom: 5px;
    border-radius: 10px;
    width: 210px;
    height: 110px;
    background-color: #f6cb01;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.cardtribun a{
    margin-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: black;
    background-color: #dcdcdc;
    display: inline-block;
    
}

.cardtribun a:hover{
    margin-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: white;
    background-color: green;
    display: inline-block;
    
}

.cardstore{
    width: auto;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    background-color: #f6cb01;
    border: 5px solid navy;
}

.cardproduct{
    width: auto;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    background-color: #dcdcdc;
    border: 5px solid navy;
}


.cardpesan{
    margin: 10px;
    
    border-radius: 5px;
    width: 270px;
    height: 30px;
    color: white;
    background-color: green;
    text-align: center;
    justify-content: center;
}
.header{
    padding: 20px;
   
}



.header .judul{
    font-size: 30px;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a:hover{
    background-color: blue;
    color: yellow;
    

}

.imageslider{
    height: 400px;
    background-image: url(Barito.jpg);
    background-size: cover;
    background-position: 0 -10px;
    border: 5px solid black;
   
    
}

.content{
    padding: 20px;
}

.content h2{
    font-size: 28px;
    font-weight: bold;
}


.content .penulis{
    font-size: 14px;
    
}

.footer{
    background-color: #333;
    padding: 10px;
}

.footer .copy{
    font-size: 12px;
    color: white;
    text-align: center;
}

/*Style Page Product*/
.headerstore{
    height: 100px;
    padding: 20px;
    background-image: url(Header.png);
    background-size: cover;
    background-position: 0 -51px;
   
}

.imagestore{
    height: 520px;
    background-position: 0 0 px;
    margin-top: -6px;
    background-image: url(Store.png);
    background-size: cover;
    border-top: 5px solid;
    border-bottom: 5px solid;
    
   
}

.carditem{
    margin: 10px 10px;
    padding: 30px;
   margin-bottom: 5px;
    border-radius: 10px;
    width: 210px;
    height: 110px;
    background-color: #f6cb01;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.carditem a{
    margin-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: black;
    background-color: #dcdcdc;
    display: inline-block;
    
}

.carditem a:hover{
    margin-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: white;
    background-color: green;
    display: inline-block;
    
}


.imageservices{
    height: 180px;
    background-position: 0 0 px;
    margin-top: -6px;
    background-image: url(KetentuanTiket.png);
    background-size: cover;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    
}

.imageservices h2{
    color: white;
   
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-150%);
   
}

.hlogo{
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-160%);
    
}

/*Style Page About*/
.headerabout{
    height: 100px;
    padding: 20px;
    background-image: url(Header.png);
    background-size: cover;
    background-position: 0 -51px;
   
}


.headerabout .judul{
    font-size: 30px;
}

.headerabout ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.headerabout a:hover{
    background-color: blue;
    color: yellow;
    

}
.imageabout{
    height: 520px;
    margin-top: -6px;
    background-image: url(baritoputera.jpg);
    background-size: cover;
    background-position: 0 -30px;
    border-top: 5px solid;
    border-bottom: 5px solid;
}


.main{
    width: 600px;
    box-sizing: border-box;
    float: left;
}

.tentang{
    margin-top: -30px;
    background-color: black;
    color: white;

}

.sidebar{
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    float: right;
}

.sidebar h3{
    font-weight: bold;
}

.tdbold{
    font-weight: bold;
}
.main h2{
    font-size: 28px;
    font-weight: bold;
}

.main .penulis{
    font-size: 14px;
    margin-top: 1px;
}

/*Navbar About*/

.nav {
    background-color: navy;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
     
}
    

.nav ul {
    list-style: none;
    text-decoration: none;
}
.nav li {
    float: left;
   
}

.nav a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
   
}

.nav a:hover{
    font-weight: bold;
    color: yellow;
    background-color: blue;
    
  
    
}

.navstore {
    background-color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
     
}
    

.navstore ul {
    list-style: none;
    text-decoration: none;
}
.navstore li {
    float: left;
   
}

.navstore a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
   
}

.navstore a:hover{
    font-weight: bold;
    color: black;
    background-color:#f6cb01;
    
  
    
}





.mainservices{
    width: 400px;
    box-sizing: border-box;
    float: left;
    
}


.sideservices{
   
    padding-top: 0px;
  
    width: 500px;
    float: left;
}



.syarat{
    margin: 0px;
    padding: 30px;
}


.etiketheader{
    border: 3px solid navy;
    width: 885px;
    background-size: cover;
}

.buttonpesan a{
    margin-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: black;
    background-color: #dcdcdc;
    display: inline-block;
}

.buttonpesan a:hover{
    margin-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: white;
    background-color: green;
    display: inline-block;
    
}

.containerp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}




.kartu{
    background: white;
    width: 270px;
    height: 400px;
    margin: 10px;
    text-align: center;
}


.imgkartu{
    background-color: #f6cb01;
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
}

.judulitem{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.jersey1{
    background-image: url(Jersey.png);
}
.jersey2{
    background-image: url(Jersey2.png);
}

.stockkosong{
    background-image: url(stockkosong.png);
}

.training1{
    background-image: url(training.jpeg);
}

.training2{
    background-image: url(training2.jpeg);
}

.training3{
    background-image: url(training3.jpeg);
}


.polo1{
    background-image: url(polo1.jpeg);
}

.polo2{
    background-image: url(polo2.jpeg);
}

.polo3{
    background-image: url(polo3.jpeg);
}


.shirt1{
    background-image: url(shirt1.jpeg);
}

.shirt2{
    background-image: url(shirt2.jpeg);
}








.kartu a{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    background-color: #dcdcdc;
    display: inline-block;
    text-decoration: none;
}

.kartu a:hover{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: green;
    display: inline-block;
    text-decoration: none;
    
}







.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}